node_modules/
HPC/
.git/
.gitignore
.DS_Store
.env
.env.*
.envrc
src/
cypress/
coverage/
prisma/
scripts/
*.log
*.md
tsconfig.json
eslint.config.mjs
postcss.config.mjs
next.config.ts
cypress/screenshots/
README.md
